    @if (Request.IsAuthenticated) {
        <div class="nav pull-right">
            <span>@Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Change password" })</span>
            |
            <span>@Html.ActionLink("sign out", "LogOff", "Account", routeValues:null, htmlAttributes: new { title = "sign out"})</span>
        </div>
    } else {
        <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i><b class="caret"></b>
            </a>
            <div class="dropdown-menu">
                <form action="/Account/Login" method="POST">
                    <div class="clearfix">
                        <div class="input">
                            <input type="text" placeholder="username" id="UserName" name="UserName"  />
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="input">
                            <input type="password" placeholder="password" id="Password" name="Password" />
                        </div>
                    </div>

                    <div class="sign-in-pulldown">
                        <input type="submit" value="Sign In" class="btn-primary" /><a href="/Account/Register" class="pull-right">Create an Account</a>
                    </div>
                </form>
            </div>
        </li>
      </ul>
    }


